@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #272121;
  --bglight-color: #443737;
  --greenlive: #36E77D;
  --rose: #EF5774;
  --grey: #888;
  --white: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: var(--grey);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.1em;
  color: var(--white);
  margin: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--greenlive);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  color: var(--rose);
}
